<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Order</title>
</head>
<body>
    <div id="app" class="app">
        <form class="form" v-on:submit="addProduct">
            <input type="text" v-model="title" placeholder="Product name">
            <input type="number" v-model="price" placeholder="Price">
            <input type="number" v-model="count" placeholder="Amount">
            <button>Add</button>
        </form>
        <ol class="total-orlist">
            <transition-group name="list">
                <li class="total-list" v-for="product in sortOrder" :key="product.id">
                    {{ product.title }}
                    <strong>price: </strong> {{ product.price }},
                    <strong>count: </strong> {{ product.count }}
                </li>
            </transition-group>
        </ol>
        <div class="total-div"v-if="totalPrice > 0">
            Cost of purchase: <strong>{{ totalPrice }}</strong>
        </div>
    </div>

    <script src="js/main.js"></script>
</body>
</html>